

/* Social Links 

.twitter {
  color: rgba(255,0,4);
}
.youtube {
  color: rgba(255,0,4);
}
.github {
  color: rgba(255,0,4);
}
.codepen {
  color: rgba(255,0,4);
}*/

#exlinks, #exlinks * {
  vertical-align: center;
  white-space: nowrap;
}

.elink {
	color: #555;
  opacity: 0.4;
  transition: 0.2s all;
  display: inline-block;
  transform: scale(0.6);
}
.elink:hover {
	color: #888;
  opacity: 1;
  transform: scale(0.77);
  
}
.ilink {
	color: #555;
  opacity: 0.4;
  transition: 0.2s all;
  display: inline-block;
  transform: scale(0.6);
}
.ilink:hover {
	color: #888;
  opacity: 1;
  transform: scale(0.77);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seperator {
  height: 1em;
  margin-left: 0px;
  background: rgba(255,255,255,0);
  display: pre-wrap;
}
    
.twitter i:after {
  content: " Twitter";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
  font-family: "Product Sans",sans-serif;
}
.twitter:hover > i:after {
  transform: scale(1);
}
    
.github i:after {
  content: " Github";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
  font-family: "Product Sans",sans-serif;
}
.github:hover > i:after {transform: scale(1);}
    
.codepen i:after {
  content: " Codepen";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 9vw;
  font-size: calc(12vw / 5);
  font-family: "Product Sans",sans-serif;
}

.codepen:hover > i:after {transform: scale(1);}
    
.status i:after {
  content: " Status";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
  font-family: "Product Sans",sans-serif;
}
.status:hover > i:after {transform: scale(1);}

.projects i:after {
  content: " Projects";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.projects:hover > i:after {transform: scale(1);}
    
.devices i:after {
  content: " Devices";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
  font-family: "Product Sans",sans-serif;
}
.devices:hover > i:after {transform: scale(1);}body {
  background: #111;
  color: #000;
  font-size: 4vw;
  font-family: "Product Sans",sans-serif;
  transition: 5s all;
}

bold,h1,.b {
  font-family: "ProductSansBold",sans-serif;
}

#container {
  left: 50vw;
  top: 50vh;
  position: fixed;
  transform: translate(-50%,-50%);
  text-align: center;
}

/*.brand {
  background: -webkit-linear-gradient(-45deg, #555, #333);
  color: rgb(0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
}
.phrase {
  background: -webkit-linear-gradient(-45deg, #777, #444);
  color: rgb(0, 0, 0);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent;
  font-size: 30%;
}*/
h1, h2, p {
  margin: 0;
}

/* Social Links 

.twitter {
  color: rgba(255,0,4);
}
.youtube {
  color: rgba(255,0,4);
}
.github {
  color: rgba(255,0,4);
}
.codepen {
  color: rgba(255,0,4);
}*/

#exlinks, #exlinks * {
  vertical-align: center;
  white-space: nowrap;
}

.elink {
	color: #555;
  opacity: 1;
  transition: 0.5s all;
  display: inline-block;
  transform: scale(0.6);
}
.elink:hover {
	color: #888;
  opacity: 1;
  transform: scale(0.77);
  
}
.ilink {
	color: #555;
  opacity: 1;
  transition: 0.2s all;
  display: inline-block;
  transform: scale(0.6);
}
.ilink:hover {
	color: #888;
  opacity: 1;
  transform: scale(0.77);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seperator {
  height: 1em;
  margin-left: 0px;
  background: rgba(255,255,255,0);
  display: pre-wrap;
}
    
.twitter i:after {
  content: " Twitter";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.twitter:hover > i:after {
  transform: scale(1);
}
    
.github i:after {
  content: " Github";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.github:hover > i:after {transform: scale(1);}
    
.codepen i:after {
  content: "  Codepen";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 9vw;
  font-size: calc(12vw / 5);
}

.codepen:hover > i:after {transform: scale(1);}
    
.status i:after {
  content: " Status";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.status:hover > i:after {transform: scale(1);}

.projects i:after {
  content: "   Projects";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.projects:hover > i:after {transform: scale(1);}
    
.devices i:after {
  content: "  Devices";
  transform: scale(0);
  transition: 0.25s all;
  vertical-align: middle;
  position: absolute;
  right: 1.5vw;
  top: 9vw;
  font-size: calc(12vw / 5);
}
.devices:hover > i:after {transform: scale(1);}