@import url("../fonts/all.css");

.faded{
    -webkit-mask-image:linear-gradient(to left,rgba(255,255,255,1),rgba(0,0,0,0));
    pointer-events:auto;
}

#mainBg{
    height:100vh;
    position:fixed;
    top: 0;
    right: 0;
    z-index:-9999;
    opacity:0.3;
}

body {
  background: #111;
  color: #fff;
  font-family: "Product Sans",sans-serif;
  transition: 0.2s all;
}

bold,h1,.b {
  font-family: "ProductSansBold",sans-serif;
}

#container {
  left: 50vw;
  top: 50vh;
  position: fixed;
  transform: translate(-50%,-50%);
  text-align: center;
}

.brand {
  background: -webkit-linear-gradient(top left, #818181, #c0f2ff);
  color: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255,255, .5);
  font-size: 150%;
  z-index:1;
}

.title {
  background: -webkit-linear-gradient(-45deg,#777, #555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80%;
}

.phrase {
  background: -webkit-linear-gradient(top left, #c4c4c4, #6e6e6e);
  color: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255, .5);
  font-size: 30%;
  z-index:1;
}

h1, h2, p {
  margin: 0;
}

#credits{
    font-size:25%;
    opacity:.25;
    position: fixed;
    right: 7px;
    bottom: 3px;
    text-align: right;
}

.mono{
    color:#fff;
    font-family:"Ubuntu Mono",monospace;
    font-size:50%;
}

.mono.italic,.a.b.c.d{
    font-weight:300;
}

.italic {
    font-style:italic;
}

.statuslink{
  text-decoration:none;
  transition: 0.2s all;
  display: block;
  color: #555;
  padding:0.2em;
}

.statuslink:hover{
  color:#888;
}

.downfacolor{color: #FF000080}
.downfacolor:hover{color: #FF0000}
.upfacolor{color: #00FF0080}
.upfacolor:hover{color:#00FF00}